RABBITMQ_USER=devUser
RABBITMQ_PASSWORD=devPassword
APP_PORT=8888
MONGO_HOST="mongo"
MONGO_DB_NAME="device_streams"
MONGO_DB_USER="db_user"
MONGO_DB_PASSWORD="db_password"
MONGO_URI="mongodb://db_user:db_password@mongo:27017/device_streams?authSource=admin"