version: '3.9'

services:
  app:
    ports:
      - "8888:8888"
  mongo:
    ports:
      - "27017:27017"
  rabbitmq:
    ports:
      - "5672:5672"
      - "15672:15672

volumes:
  app-source:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '${PWD}'
  mongo-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '${PWD}/.docker/mongo/data'
  rabbitmq-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '${PWD}/.docker/mongodb/data'