version: '3.9'

services:
  app:
    ports:
      - "8888:8888"
  localstack:
    ports: 
      - "4566:4566"
      - "4582:4582"

volumes:
  app-source:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '${PWD}'
  localstack-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: '${PWD}'